<template>
  <div class="container">
    <div class="content">
      <form @submit="createAluno">
        <input v-model="id" type="text" placeholder="matricula">
        <input v-model="nome" type="text" placeholder="Nome do aluno" />
        <button type="submit">Criar Aluno</button>
      </form>
      <h1>Lista de Alunos</h1>
      <ul>
        <li v-for="aluno in alunos" :key="aluno.id">nome: {{ aluno.nome }} || matricula: {{ aluno.id }}</li>
      </ul>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
import AlunoService from '@/services/AlunoService.js'

export default {
  name: 'HomeView',
  components: {
    HelloWorld
  },
  data() {
    return {
      alunos: [],
      inputAlunos: [],
      nome: '',
      id: '',
    };
  },
  created() {
    this.fetchAlunos();
  },
  methods: {
    async fetchAlunos() {
      AlunoService.fetchAlunos()
      .then((alunos)=> {
        this.alunos = alunos;
      })
    },
    createAluno(event) {
      AlunoService.createAluno(this.nome, this.id)
        .then((novoAluno) => {
          console.log('Novo aluno criado:', novoAluno);
          // Faça o que for necessário após a criação do aluno
        })
        this.fetchAlunos();
    },
  
  },
}
</script>
